# Ignore virtual environment
venv/
.env/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo

# Ignore logs and temporary files
*.log
logs/
*.sqlite3
db.sqlite3
instance/

# Ignore VS Code settings
.vscode/
*.code-workspace

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db